<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <% include partials/_header %>

    <!-- Add your EJS code here -->

 <ul>
    <% if(isLoggedIn === true){%>
    <% for (id in urls) { %>

      <% if(user.user_Id == urls[id].user_Id){  %>
      <li>
       <h3> <%= urls[id].longURL %> </h3>
      <form method="POST" action="/urls/<%=id%>/delete">

        <a href="urls/<%=id%>"> Edit ME</a>
      <button type="submit">DELETE</button>
      </form>
      </li>
      <% } %>

  <% }; %>
  <ul>
  <br>
    <h3><a href="urls/new"> create new tiny url</a></h3>
  <%}%>


</body>
</html>